<html class='h-full' lang='en'>
    <head>
        <meta charset='utf-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <title>Hecate UI | Mapbox</title>

        <link href="https://api.mapbox.com/mapbox-assembly/v0.23.2/assembly.min.css" rel="stylesheet">
        <script src='https://unpkg.com/vue@2.6.10/dist/vue.js'></script>
    </head>
    <body>
        <div id="app h-full w-full">
            <div class='col col--12'>
                <div class='flex-parent flex-parent--center-main flex-parent--center-cross h-full'>
                    <div class='w240'>
                        <div class='py12 col col--12'>
                            Username:
                            <input v-model='username' class='input w-full' placeholder='Username' />
                        </div>
                        <div class='py12 col col--12'>
                            Password:
                            <input v-model='password' class='input w-full' placeholder='Password' type='password' />
                        </div>
                        <div class='col col--12'>
                            <button class='btn w-full'>Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        window.onload = () => {
            new Vue({
                el: '#app',
                data: {
                    username: '',
                    password: ''
                }
            });
        }
    </script>
</html>

